@font-face {
    font-family: Vazir;
    font-style: normal;
    src: url("./fonts/Vazirmatn-Regular.ttf") format(ttf);
  }
@font-face {
    font-family: Vazir;
    font-style: normal;
    src: url("./fonts/Vazirmatn-Light.ttf") format(ttf);
  }
@font-face {
    font-family: Vazir;
    font-style: normal;
    src: url("./fonts/Vazirmatn-Medium.ttf") format(ttf);
  }
@font-face {
    font-family: Vazir;
    font-style: normal;
    src: url("./fonts/Vazirmatn-Bold.ttf") format(ttf);
  } 
@font-face {
    font-family: Cara;
    font-style: normal;
    src: url(/fonts/IRAN-Rounded.woff) format(woff);
  }

body,button{
    font-family: Cara;
}