
:root { 
    --color-main: #ff5722;
    --color-navBar: white;
    --color-second-light: #fff6f2;
    --color-second-dark: #ffa589;  
    --color-body : #333333;
    --color-heading : #000;
    --color-white : white;
    --color-main-light: #ff7a50
}
/* ---------------------------- */
html{
    font-size: 62.5%;
}
/* ---------------------------- */
body { 
    color: var(--color-body);
    font-size: 2.2rem ;
    line-height: 1.6;
}
h1,h2,h3 {
    color: var(--color-heading);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
    body { 
        font-size: 2.2rem;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
}
/* ---------------------------- */
.btn {
     cursor: pointer;
     outline: 0;
     border: 0;
     padding: 2rem 2.5rem;
     border-radius: 8px; 
     margin: 1rem;
     text-align: center;
     white-space: nowrap;
     font-size: 1.4rem ;
}
 
.btn--main {
    background-color: var(--color-main);
    color: var(--color-white);
} 

.btn--second {
    background-color: var(--color-second-dark);
    color: var(--color-white);
}

.btn--block {
    width: 100%;
    font-size: 1.6rem;
}

@media  screen and (min-width: 1024px) {
    .btn {
        font-size: 1.6rem;
    }
    .btn--block {
        font-size: 2rem;
    }
}
/* ---------------------------- */
.badge {
    display: inline-block;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: var(--color-main);
    border-radius: 32px;
    border: 1px solid var(--color-main);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.badge--main {
    background-color: var(--color-main);
    color: var(--color-white);
    border-color: #fff;
}

@media  screen and (min-width: 1024px) {
    .badge {
        font-size: 1.4rem;
    }
}
/* ---------------------------- */
.list {
    list-style: none;
     font-size: 2rem;
}

.list--inline .list__item {
    display: inline-block;
    margin-left: 2rem;
}

.list--tick .list__item {
    background: url(/images/Tick-Square.svg) no-repeat;
    background-size: 32px;
    background-position: right bottom;
    padding-right: 3.2rem;
    margin-bottom: 1.25rem;
    color: var(--color-heading);
}
@media  screen and (min-width: 1024px) {
    .list--tick .list__item{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    
}
/* ---------------------------- */
.block-plan {
    display: grid;
    gap: 9rem 6rem;
    margin: 7rem;
    justify-content: center;
    grid-template-columns:  repeat(auto-fit,minmax(250px,340px));
    margin-left: 2rem;
    margin-right: 2rem;
    /* margin-bottom: 2rem; */
}

.plan {
    max-width: 450px;
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-left: 1rem;
    transition: all 0.2s ease-out; 
}

.plan:hover {
    transform: scale(1.08);
}

.plan__popular:hover{
    transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
     
     .plan .btn--block {
        font-size: 1.8rem;
     }
    
}
/* ---------------------------- */
.card__header, .card__body {
    padding: 3rem 2.5rem;
    color: var(--color-white);
}

.card__header{
    background-color: var(--color-second-dark);
}
.card {
    box-shadow: 0 0 20px 12px #ccc;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--color-second-light);
}

.plan__intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.plan__price {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.plan__cycle {
    font-size: 1.4rem;
}

.plan__desc {
    display: block;
    margin-top:  2rem;
}

.plan__popular {
    transform: scale(1.1);
}

.card__main .card__header {
    background-color: var(--color-main-light);
}
/* ---------------------------- */
.container {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 6rem;
}
/* ---------------------------- */
.feature {
    display:  grid;
     
}

.feature .btn {
    padding: 1.5rem 3rem;
    margin-bottom: 1.5rem;
}

.feature__image img > {
    width: 70%;
    height: auto;
    
}

.feature__image {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}
.feature__text {
    margin-bottom: 3rem;
}

.img2 {
    width: 544px;
    height: 351px;
}
@media screen and (min-width:1024px) {
    .feature {
        grid-template-columns: repeat(2,1fr);
    }

    .feature__image {
        order: 2;
    }

    .feature__detail {
        order: 1;
    }
    
    .feature__detail2 {
        order: 2;
    }

    .feature__image2 {
        order: 1;
    }
}
/* -------------contact us-------------- */
.contact-us {
    display: grid;
     
}

.contact-us__map {
    display: none;
}

@media screen and (min-width:1024px) {
    .contact-us {
        grid-template-areas: "address form" "map form" "icons form";
        grid-template-columns: 70fr 30fr;
    }
    
    .contact-us__form {
        grid-area: form;
    }
    .contact-us__map {
        grid-area: map;
        display: block;
    }
    .contact-us__icons {
        grid-area: address;
    }
    .contact-us__social {
        grid-area: icons;
    }
}
/* -----------------ICONS--------------- */
.icon {
    width: 40px;
    height: 40px ;
}

.icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
  } 